.footer-component {
    background-color: var(--brown-2);
}

.footer-component > .footer-content {
    padding: 30px 20px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footer-component > .footer-content > .source-code-link {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer-component > .footer-content > .copyright {
    all: unset;
    cursor: default;
}
